<?xml version="1.0"?>

<robot name="joy-it" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="l000" value="bottom_link" />
    <xacro:property name="l00" value="base_link" />
    <xacro:property name="l01" value="link_01" />
    <xacro:property name="l02" value="link_02" />
    <xacro:property name="l03" value="link_03" />
    <xacro:property name="l04" value="link_04" />
    <xacro:property name="l05" value="link_05" />
</robot>
